$whitecolor: #fcf8f2;
$section-two-footer-color: #fff1cc;
$text-color: #000000;
$pink-color: #db006a;
$logo-coloe: #551a8b;

$header-height: 80px;
$header-width: 333px;
$nav-width: 600px;
$font-sora: sans-serif;
$logofont-size: 16px;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;

$list-padding: 0 16px;
