* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fcf8f2;
  z-index: 100;
}
.header .header-a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.header .header-logo a h1 {
  width: 100%;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  font-family: "Futura LT Alt", sans-serif;
}
.header .list {
  font-size: 16px;
  padding: 0 16px;
  font-family: "Futura LT Alt", sans-serif;
  font-weight: none;
}
.header .list-a {
  color: #000000;
}
.header .list-a:hover {
  color: #db006a;
}
.header .active {
  color: #db006a;
}

.navmenu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
  max-width: 600px;
}

.burger-icon {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  display: none;
  cursor: pointer;
}
.burger-icon .burger-line {
  width: 25px;
  height: 4px;
  background-color: #000000;
}

#burger-menu {
  display: none;
}

@media (max-width: 1000px) {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
    right: -100%;
    background-color: #fcf8f2;
    transition: right 1s;
    height: 100%;
  }
  nav .navmenu {
    flex-direction: column;
    width: 100%;
    gap: 50px;
    margin: 0 auto;
    padding-top: 100px;
  }
  nav .navmenu .list-a {
    font-size: 20px;
  }
  .burger-icon {
    display: flex;
  }
  .burger-icon .burger-line {
    z-index: 102;
  }
  #burger-menu:checked ~ nav {
    right: 0;
  }
}
.footer-section {
  background-color: #fff1cc;
  padding: 50px;
  width: 100%;
}
.footer-section .logodiv a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.footer-section .logodiv a h1 {
  width: 100%;
  color: #000000;
  font-size: 23px;
  font-weight: normal;
  font-family: "Futura LT Alt", sans-serif;
}
.footer-section .footer-right-left-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  width: 100%;
}
.footer-section .footer-right-left-div .footer-leftdiv {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 50px;
  width: 50%;
}
.footer-section .footer-right-left-div .footer-leftdiv-p {
  width: 30%;
  color: #000000;
  line-height: 20px;
  font-size: 16px;
  font-family: "Futura LT Alt", sans-serif;
}
.footer-section .footer-right-left-div .footer-leftdiv-p2 {
  max-width: 376px;
  width: 100%;
  color: #000000;
  line-height: 20px;
  font-size: 16px;
  font-family: "Futura LT Alt", sans-serif;
}
@media (max-width: 768px) {
  .footer-section .footer-right-left-div .footer-leftdiv-p {
    width: 50%;
  }
  .footer-section .footer-right-left-div .footer-leftdiv-p2 {
    width: 81%;
  }
}
@media (max-width: 500px) {
  .footer-section .footer-right-left-div .footer-leftdiv {
    gap: 15px;
    width: 70%;
  }
}
.footer-section .footer-right-left-div .footer-rightdiv {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 60px;
  flex-direction: column;
  width: 50%;
}
.footer-section .footer-right-left-div .footer-rightdiv-p {
  width: 73%;
  color: #000000;
  font-size: 16px;
  font-family: "Futura LT Alt", sans-serif;
}
.footer-section .footer-right-left-div .footer-rightdiv-p2 {
  max-width: 407px;
  width: 100%;
  color: #000000;
  font-size: 16px;
  font-family: "Futura LT Alt", sans-serif;
}
.footer-section .footer-right-left-div .footer-rightdiv-p2 a {
  color: #000000;
}
@media (max-width: 768px) {
  .footer-section .footer-right-left-div .footer-rightdiv-p {
    width: 76%;
  }
  .footer-section .footer-right-left-div .footer-rightdiv-p2 {
    width: 95%;
  }
}
@media (max-width: 500px) {
  .footer-section .footer-right-left-div .footer-rightdiv {
    gap: 15px;
    width: 74%;
  }
}
@media (max-width: 500px) {
  .footer-section .footer-right-left-div {
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }
}

.black-line {
  max-width: 384px;
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.programs-page-section {
  background-color: #fcf8f2;
  width: 100%;
}
.programs-page-section .educationaldiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  padding: 5%;
}
.programs-page-section .educationaldiv h2 {
  width: 100%;
  color: #000000;
  font-size: 50px;
  font-family: "Sora", sans-serif;
}
.programs-page-section .educationaldiv a button {
  width: 100%;
  background-color: #db006a;
  font-size: 16px;
  color: #fcf8f2;
  text-align: center;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  padding: 10px 30px;
}
.programs-page-section .educationaldiv a button:hover {
  color: #000000;
}
@media (max-width: 1000px) {
  .programs-page-section .educationaldiv h2 {
    font-size: 40px;
  }
}
.programs-page-section .right-left-programs-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 50px;
  width: 100%;
  padding-left: 27%;
  margin-bottom: 6%;
}
.programs-page-section .right-left-programs-div .right-programs-div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 100px;
  width: 50%;
}
.programs-page-section .right-left-programs-div .right-programs-div .right-programs-div-top,
.programs-page-section .right-left-programs-div .right-programs-div .right-programs-div-bottom {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.programs-page-section .right-left-programs-div .right-programs-div .right-programs-div-top h2,
.programs-page-section .right-left-programs-div .right-programs-div .right-programs-div-bottom h2 {
  width: 100%;
  color: #000000;
  font-size: 30px;
  font-family: "Sora", sans-serif;
}
.programs-page-section .right-left-programs-div .right-programs-div .right-programs-div-top p,
.programs-page-section .right-left-programs-div .right-programs-div .right-programs-div-bottom p {
  max-width: 375px;
  width: 100%;
  color: #000000;
  font-size: 18px;
  font-family: "Futura LT Alt", sans-serif;
}
@media (max-width: 850px) {
  .programs-page-section .right-left-programs-div .right-programs-div .right-programs-div-top h2,
  .programs-page-section .right-left-programs-div .right-programs-div .right-programs-div-bottom h2 {
    font-size: 30px;
  }
}
.programs-page-section .right-left-programs-div .left-programs-div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 100px;
  width: 50%;
}
.programs-page-section .right-left-programs-div .left-programs-div .left-programs-div-top,
.programs-page-section .right-left-programs-div .left-programs-div .left-programs-div-bottom {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.programs-page-section .right-left-programs-div .left-programs-div .left-programs-div-top h2,
.programs-page-section .right-left-programs-div .left-programs-div .left-programs-div-bottom h2 {
  width: 100%;
  color: #000000;
  font-size: 30px;
  font-family: "Sora", sans-serif;
}
.programs-page-section .right-left-programs-div .left-programs-div .left-programs-div-top p,
.programs-page-section .right-left-programs-div .left-programs-div .left-programs-div-bottom p {
  max-width: 375px;
  width: 100%;
  color: #000000;
  font-size: 18px;
  font-family: "Futura LT Alt", sans-serif;
}
@media (max-width: 850px) {
  .programs-page-section .right-left-programs-div .left-programs-div .left-programs-div-top h2,
  .programs-page-section .right-left-programs-div .left-programs-div .left-programs-div-bottom h2 {
    font-size: 30px;
  }
}
@media (max-width: 850px) {
  .programs-page-section .right-left-programs-div .left-programs-div {
    gap: 50px;
    width: 100%;
  }
  .programs-page-section .right-left-programs-div .right-programs-div {
    gap: 50px;
    width: 100%;
  }
}
@media (max-width: 850px) {
  .programs-page-section .right-left-programs-div {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 5%;
    gap: 50px;
  }
}
.programs-page-section img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=programs.css.map */