@use "base" as *;
@use "variables" as *;
.section1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $whitecolor;
  padding: 10px;

  .img-div {
    width: 40%;

    img {
      max-width: 700px;
      width: 80%;
      border-radius: 60px;
      object-fit: cover;
    }
  }
  @media (max-width: 500px) {
    .img-div {
      width: 100%;

      img {
        width: 100%;
        border-radius: 80px;
      }
    }
  }
  &-div {
    max-width: 490px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    p {
      max-width: 465px;
      width: 80%;
      color: $text-color;
      font-size: 18px;
      font-family: "Futura LT Alt", sans-serif;
      text-align: center;
    }
    .section1-h1 {
      max-width: 490px;
      width: 80%;
      color: $text-color;
      font-size: 40px;
      text-align: center;
      font-family: "Sora", sans-serif;
    }
    button {
      max-width: 154px;
      width: 100%;
      background-color: $pink-color;
      font-size: 15px;
      color: $whitecolor;
      text-align: center;
      border: none;
      border-radius: 60px;
      cursor: pointer;
      padding: 10px 30px;

      &:hover {
        color: $text-color;
      }
    }
    @media (max-width: 1000px) {
      .section1-h1 {
        width: 90%;
        font-size: 35px;
      }
      button {
        padding: 10px 20px;
      }
      p {
        width: 90%;
        font-size: 16px;
      }
    }
    @media (max-width: 768px) {
      .section1-h1 {
        width: 100%;
        font-size: 29px;
      }
      button {
        padding: 10px 20px;
        font-size: 15px;
      }
      p {
        width: 100%;
        font-size: 13px;
      }
    }
  }
  @media (max-width: 500px) {
    &-div {
      width: 100%;

      p {
        width: 100%;
        font-size: 18px;
      }
      .section1-h1 {
        width: 100%;
        font-size: 40px;
      }
      button {
        padding: 15px 30px;
      }
    }
  }
}
@media (max-width: 500px) {
  .section1 {
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
    gap: 30px;
  }
}
.about-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  padding: 80px 20px;
  background-color: $section-two-footer-color;

  .LR-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .leftside-div {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      width: 50%;

      &-1 {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 30px;
        width: 100%;

        &-h2 {
          max-width: 500px;
          width: 100%;
          color: $text-color;
          font-size: 40px;
          font-family: "Sora", sans-serif;
        }
        p {
          max-width: 430px;
          width: 100%;
          color: $text-color;
          font-size: 16px;
          font-family: "Futura LT Alt", sans-serif;
          line-height: 25px;
        }
        @media (max-width: 500px) {
          &-h2 {
            font-size: 50px;
          }
        }
      }
      .leftside-div-1-img {
        margin-top: 30%;

        .about-first-img {
          max-width: 490px;
          width: 90%;
          object-fit: cover;
          border-radius: 60px;
        }
        @media (max-width: 500px) {
          .about-first-img {
            width: 100%;
            border-radius: 80px;
          }
        }
      }
      @media (max-width: 500px) {
        .leftside-div-1-img {
          margin-top: 0;
        }
      }
    }
    @media (max-width: 500px) {
      .leftside-div {
        width: 100%;
      }
    }
  }
  @media (max-width: 500px) {
    .LR-div {
      flex-direction: column;
      align-items: start;
      width: 100%;
    }
  }
  .rightside-div {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 100px;

    .rightside-div-img {
      width: 100%;

      .about-second-img {
        max-width: 700px;
        width: 100%;
        object-fit: cover;
        border-radius: 60px;
      }
    }
  }
  @media (max-width: 500px) {
    .rightside-div {
      display: none;
    }
  }
}
.our-programs-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  padding-left: 3%;

  .our-programs-div-h2 {
    max-width: 605px;
    width: 100%;
    color: $text-color;
    font-size: 42px;
    font-family: "Sora", sans-serif;
  }
  button {
    max-width: 154px;
    width: 100%;
    background-color: $pink-color;
    font-size: $logofont-size;
    color: $whitecolor;
    text-align: center;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    padding: 10px 30px;

    &:hover {
      color: $text-color;
    }
  }
  @media (max-width: 768px) {
    .our-programs-div-h2 {
      font-size: 35px;
    }
    button {
      font-size: $logofont-size;
      padding: 10px 20px;
    }
  }
  @media (max-width: 500px) {
    .our-programs-div-h2 {
      font-size: 45px;
    }
    button {
      padding: 10px 30px;
    }
  }
}
.lines-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-left: 20%;

  .lines-div-left {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 100px;
    width: 100%;

    .line-left {
      width: 90%;
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      gap: 20px;
    }
    h2 {
      max-width: 380px;
      width: 100%;
      color: $text-color;
      font-size: 28px;
      font-family: "Sora", sans-serif;
    }
    p {
      max-width: 357px;
      width: 100%;
      color: $text-color;
      font-size: 18px;
      font-family: "Futura LT Alt", sans-serif;
    }
  }
  @media (max-width: 1000px) {
    .lines-div-left {
      width: 100%;
    }
  }
  .lines-div-right {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 100px;
    width: 100%;

    .line-right {
      width: 90%;
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      gap: 20px;
    }
    h2 {
      max-width: 380px;
      width: 100%;
      color: $text-color;
      font-size: 28px;
      font-family: "Sora", sans-serif;
    }
    p {
      max-width: 357px;
      width: 100%;
      color: $text-color;
      font-size: 18px;
      font-family: "Futura LT Alt", sans-serif;
    }
  }
  @media (max-width: 1000px) {
    .lines-div-right {
      width: 100%;
    }
  }
}
@media (max-width: 1000px) {
  .lines-div {
    flex-direction: column;
    align-items: start;
    padding-left: 0;
  }
}
.testimonail-section {
  background-color: $whitecolor;
  width: 100%;
  padding: 0 5%;

  .leftdiv {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    padding: 40px;

    h2 {
      width: 100%;
      color: $text-color;
      font-size: 60px;
      font-family: "Sora", sans-serif;
    }
    p {
      max-width: 520px;
      width: 100%;
      line-height: 20px;
      color: $text-color;
      font-size: 18px;
      font-family: "Futura LT Alt", sans-serif;
    }
    span {
      max-width: 520px;
      width: 100%;
      color: $text-color;
      font-size: 16px;
      font-family: "Futura LT Alt", sans-serif;
    }
    @media (max-width: 500px) {
      h2 {
        text-align: start;
        font-size: 45px;
      }
    }
  }
  .rightdiv {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 40px;

    p {
      max-width: 432px;
      width: 100%;
      color: $text-color;
      line-height: 20px;
      font-size: 18px;
      font-family: "Futura LT Alt", sans-serif;
    }
    span {
      max-width: 432px;
      width: 100%;
      text-align: start;
      color: $text-color;
      font-size: 16px;
      font-family: "Futura LT Alt", sans-serif;
    }
  }
  .leftdiv2 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 40px;

    p {
      max-width: 447px;
      width: 100%;
      color: $text-color;
      line-height: 20px;
      font-size: 18px;
      font-family: "Futura LT Alt", sans-serif;
    }
    span {
      max-width: 447px;
      width: 100%;
      text-align: start;
      color: $text-color;
      font-size: 16px;
      font-family: "Futura LT Alt", sans-serif;
    }
  }
  .centerdiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

    div {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      gap: 15px;

      h2 {
        max-width: 513px;
        width: 100%;
        color: $text-color;
        font-size: 50px;
        font-family: "Sora", sans-serif;
      }
      p {
        max-width: 650px;
        width: 100%;
        color: $text-color;
        font-size: 18px;
        font-family: "Futura LT Alt", sans-serif;
      }
    }
    .centerdivp {
      max-width: 290px;
      width: 100%;
      color: $text-color;
      font-size: 16px;
      line-height: 20px;
      font-family: "Futura LT Alt", sans-serif;
    }
  }
  @media (max-width: 768px) {
    .centerdiv {
      justify-content: space-between;
      gap: 40px;

      div h2 {
        max-width: 250px;
        font-size: 40px;
      }
      div p {
        width: 50%;
        max-width: 200px;
        font-size: 14px;
      }
    }
    @media (max-width: 500px) {
      .centerdiv {
        flex-direction: column;
        justify-content: center;
        align-items: start;

        div h2 {
          max-width: 100%;
          font-size: 45px;
        }
        div p {
          max-width: 100%;
          font-size: 13px;
        }
        .centerdivp {
          max-width: 100%;
          font-size: 13px;
          line-height: 25px;
        }
      }
    }
  }
  .contactdiv {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    padding: 40px;

    label {
      max-width: 100px;
      width: 100%;
      color: $text-color;
      font-size: 14px;
      font-family: "Futura LT Alt", sans-serif;
    }
    input,
    select {
      max-width: 500px;
      width: 100%;
      background-color: $whitecolor;
      padding: 10px;
      border-radius: 30px;
    }
    select {
      max-width: 1px;
      border: none;
      padding: 8px;
    }
    .index-svg-div {
      display: flex;
      border: 1px solid black;
      max-width: 500px;
      width: 100%;
      border-radius: 30px;

      svg {
        margin-left: 10px;
        margin-top: 10px;
      }
      .index-inpt {
        border: none;
      }
    }
    textarea {
      max-width: 500px;
      width: 100%;
      background-color: $whitecolor;
      height: 75px;
      border-radius: 15px;
    }
  }
  button {
    max-width: 500px;
    width: 100%;
    background-color: $text-color;
    color: $whitecolor;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Futura LT Alt", sans-serif;

    padding: 10px;

    &:hover {
      background-color: $whitecolor;
      color: $text-color;
    }
  }
  .img-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
  }
  div img {
    width: 90%;
    border-radius: 55px;
    object-fit: cover;
  }
}
